@media screen and (min-width: 320px) and (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  #img {
    text-align: center;
    margin: 100px 0;
  }

  #img img {
    width: 40px;
  }

  p {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  input {
    border: 0;
    background-color: rgb(239, 230, 230);
    /* width: 300px; */
    padding: 5px 0 5px 30px;
    border-radius: 5px;
  }

  #email input, #pass input {
    width: 300px;
  }

  i {
    padding: 0 5px;
    position: absolute;
  }

  #email, #pass {
    display: flex;
    align-items: center;
  }

  #pass i:last-child{
    right: 30px;
  }

  #remember {
    margin-top: 10px;
  }

  label {
    font-size: 15px;
  }

  button {
    width: 80%;
    padding: 10px;
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 170px;
  }
}
